.main-background {
    background-image: linear-gradient(to bottom right, #e2eff5, #80b3ff);
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c8103; /* Main background color */
  }
  
  .data-field {
    margin-top: 28px;    margin-bottom: 100px;
    width: 90%;
    min-height: 90%;
    height: auto;
    background-color: rgb(202, 249, 212); /* Data field background color */
    border: 1px solid white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .end {
    height: 120px;
    margin-top: 50px;
  }
  /* Your other styles go here */
  
.heading{
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-bottom: 10%;
  /* background-color: #0c8103; */
}

.heading-note {
  margin-top: 35px;
  color: #39A7FF;
  font-weight: bolder;
  font-family: 'Playfair Display', serif;
  margin-bottom: -22px;
  font-size: 22px;
  text-decoration: underline dotted #39A7FF;
}

.end_note{
  font-size: larger;
  font-weight: bolder;
  color: #0c8103;
  font-family: 'Nova Square', sans-serif;

}
/* styles.css */

/* Reset some default table styles */
table {
    border-collapse: separate;
    border-spacing: 0 8px;
    width: 109%;
    font-size: large;
    box-shadow: 0px 0px 10px skyblue;
    margin-left: -40px;
}

/* Style for the table header row */
.booking-table-row {
    background-color: #f2f2f2; /* Light gray background */
}

/* Style for the table heading cells */
.booking-table-heading {
    padding: 12px;
    text-align: left;
}

/* Style for the table data cells */
.booking-table-data {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add a bottom border for separation */
}

.booking-table-row:hover {
    background-color: #ddd; /* Darker gray background on hover */
}

.pending {
    background-color:#FFCC70;
}

.pickup  {
    background-color:#8ECDDD;
}

.picked-up {
    background-color: #8ECDDD;
}

.on-washing {
    background-color: #8ECDDD;
}

.ready-for-delivery {
    background-color: #8ECDDD;
}

.delivered {
    background-color: #A2FF86;
}

.cancelled {
    background-color: #FF6D60;
}
#status{
    background-color:#ffffff;
    color: black;
    appearance: none;
    text-align: center;
    border: none;
    height: 20px;
    /* padding-bottom: 10px; */
}


